<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{calendar.turno}}</h5>
        <p class="card-text">{{calendar.horario}}</p>
        <a href="#" class="btn btn-primary">{{calendar.descripcion}}</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{calendar.turno}}</h5>
        <p class="card-text">{{calendar.horario}}</p>
        <a href="#" class="btn btn-primary">{{calendar.descripcion}}</a>
      </div>
    </div>
  </div>

  
  
</div>


